<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recreation Game</title>
    <link rel="stylesheet" href="/public/css/question.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
        #myProgress {
          width:300px;
          height:50px;
          background-color:#F6B157;
          margin: auto 0;
      }
   
        #myBar {
          width:300px;
          height:50px;
          background-color:hsl(27, 100%, 50%);
          margin: auto 0;
      }
      </style>



</head>
<body>
    <div class="wrap">
        <div class="title">
            <% for(let i =0; i<data.length;i++){%>
                <% var quiz = data[i] %>
            <%}%>
            <% var quiz = data[0] %> 
            <%= quiz.type %>
        </div>
        <a href="/"><img src="/public/img/home.png" alt="홈으로" class="homeb"></a>
        <br><br><br><br>

        <div class="timer">
            <img src="/public/img/alarm.png" alt="타이머" class="alarm">
            <div id="myProgress">
                <div id="myBar"></div>
                
               
            </div>
        </div>
        <div id="digit"></div>


        

        <% var random = Math.floor(Math.random() * data.length) %>
        <% var quiz = data[random] %> 

        <% if(quiz.type == '국기 맞히기'){%>
            <p><img src='<%= quiz.question %>' width="600" height="400"></p>
        <%} else{ %> 
            <br><p>   
                <%= quiz.question %>
            </p>
            <br>
        <%}%>

       
       
        <div class="container">
            <div class="group">
            
                <% if(quiz.type == "ox"){%>
                    <a href="/quiz/ox/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>
        
                <% if(quiz.type == "넌센스"){%>
                    <a href="/quiz/nonsense/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>
        
                <% if(quiz.type == "네글자 이어말하기"){%>
                    <a href="/quiz/fourWord/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>
        
                <% if(quiz.type == "상식퀴즈"){%>
                    <a href="/quiz/knowledge/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>

                <% if(quiz.type == "국기 맞히기"){%>
                    <a href="/quiz/flag/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>

                <% if(quiz.type == "영화"){%>
                    <form action="/quiz/movie" method="get">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text" onclick="correct()">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "드라마"){%>
                    <form action="/quiz/drama" method="get">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text" onclick="correct()">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "댄스곡"){%>
                    <form action="/quiz/dance" method="get">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text" onclick="correct()">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "음식"){%>
                    <form action="/quiz/food" method="get">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text" onclick="correct()">맞힘</button>
                        </div>
                    </form>
                <%}%>

                <% if(quiz.type == "기념일"){%>
                    <form action="/quiz/anniversary" method="get">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text" onclick="correct()">맞힘</button>
                        </div>
                    </form>
                <%}%>

                <% if(quiz.type == "취미"){%>
                    <form action="/quiz/hobby" method="get">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text" onclick="correct()">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "직업"){%>
                    <form action="/quiz/job" method="get">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text" onclick="correct()">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "스포츠"){%>
                    <form accept="/quiz/sports" method="get">
                        <div class="count">
                                <button class="false" name="score" value="실패" class="false_text" onclick="document.location='/quiz/sports'">틀림</button>
                                <button class="true" name="score" value="성공" class="true_text" onclick="correct()">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "동물"){%>
                    <form action="/quiz/animal" method="get">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text" onclick="correct()">맞힘</button>
                        </div>
                    </form>
                <%}%>

                <% if(quiz.type == "감정"){%>
                    <form action="/quiz/emotion" method="get">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text" onclick="correct()">맞힘</button>
                        </div>
                    </form>
                <%}%>

                        
                <% if(quiz.type == "악기"){%>
                    <form action="/quiz/instrument" method="get">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text" onclick="correct()">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "속담"){%>
                    <form action="/quiz/proverb" method="get">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text" onclick="correct()">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "인물"){%>
                    <form action="/quiz/person" method="get">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text" onclick="correct()">맞힘</button>
                        </div>
                    </form>
                <%}%>

                <% if(quiz.type == "물건"){%>
                    <form action="/quiz/object" method="get">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text" onclick="correct()">맞힘</button>
                        </div>
                    </form>
                <%}%>

                <% if(quiz.type == "줄줄이 말해요"){%>
                    <form action="/quiz/actionGame" method="get">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">실패</button>
                            <button class="true" name="score" value="성공" class="true_text" onclick="correct()">성공</button>
                        </div>
                    </form>
                <%}%>


                <% var getTime = data1 %>
                <% var selectTeam = data2 %>
                <script>
                    
                    var i = '<%= getTime.time %>';
                    var k = 300/(i/100)
                      window.onload=function() {
                        if (i == i)
                        {
                            var digit = document.getElementById("digit");         
                            var elem = document.getElementById("myBar");
                            var width = 300;
                            var id = setInterval(frame,1000);
                            function frame() {
                                if (width <= 0) {
                                    clearInterval(id);   
                                }
                                 else {
                                    width-= k;
                                    elem.style.width = width + "px";
                                  }
                              }
                          }
                      }


                      function correct(){
                        var selectTeam = '<%= selectTeam.selectTeam %>';
                        var gameType = sessionStorage.getItem("type")
                        selectTeam = Array(selectTeam.split(','))
                        for(let i = 0; i<selectTeam[0].length; i++){
                            let team = selectTeam[0][i]
                            let teamList = JSON.parse(sessionStorage.getItem("team"))
                            if(teamList.includes(team)){
                                let teamData= JSON.parse(sessionStorage.getItem(team))
                                if(gameType == 'mind'){
                                let fourword = teamData.fourword
                                let total = teamData.total + 1
                                let mind = teamData.mind + 1
                                let body = teamData.body
                                let actiongame = teamData.actiongame
                                let draw = teamData.draw
                                let flag = teamData.flag
                                let knowledge = teamData.knowledge
                                let nonsense = teamData.nonsense
                                let ox = teamData.ox
                                sessionStorage.setItem(team,JSON.stringify({mind:mind, body:body, actiongame:actiongame, draw:draw, flag:flag, fourword:fourword, knowledge:knowledge, nonsense:nonsense, ox:ox, total:total}))}
                                else if(gameType=='body'){
                                let fourword = teamData.fourword
                                let total = teamData.total + 1
                                let mind = teamData.mind
                                let body = teamData.body + 1
                                let actiongame = teamData.actiongame
                                let draw = teamData.draw
                                let flag = teamData.flag
                                let knowledge = teamData.knowledge
                                let nonsense = teamData.nonsense
                                let ox = teamData.ox
                                sessionStorage.setItem(team,JSON.stringify({mind:mind, body:body, actiongame:actiongame, draw:draw, flag:flag, fourword:fourword, knowledge:knowledge, nonsense:nonsense, ox:ox, total:total}))}
                                else if(gameType=='actiongame'){
                                let fourword = teamData.fourword
                                let total = teamData.total + 1
                                let mind = teamData.mind 
                                let body = teamData.body
                                let actiongame = teamData.actiongame + 1
                                let draw = teamData.draw
                                let flag = teamData.flag
                                let knowledge = teamData.knowledge
                                let nonsense = teamData.nonsense
                                let ox = teamData.ox
                                sessionStorage.setItem(team,JSON.stringify({mind:mind, body:body, actiongame:actiongame, draw:draw, flag:flag, fourword:fourword, knowledge:knowledge, nonsense:nonsense, ox:ox, total:total}))}
                                else if(gameType=='draw'){
                                let fourword = teamData.fourword
                                let total = teamData.total + 1
                                let mind = teamData.mind 
                                let body = teamData.body
                                let actiongame = teamData.actiongame
                                let draw = teamData.draw + 1
                                let flag = teamData.flag
                                let knowledge = teamData.knowledge
                                let nonsense = teamData.nonsense
                                let ox = teamData.ox
                                sessionStorage.setItem(team,JSON.stringify({mind:mind, body:body, actiongame:actiongame, draw:draw, flag:flag, fourword:fourword, knowledge:knowledge, nonsense:nonsense, ox:ox, total:total}))}
                            }    

                        }
                        
                      }
                    </script>
        
            </div>
        </div>
    </div>
</body>
</html>
