<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recreation Game</title>
    <link rel="stylesheet" href="/public/css/question.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
        #myProgress {
          width:300px;
          height:50px;
          background-color:#F6B157;
          margin: auto 0;
      }
   
        #myBar {
          width:300px;
          height:50px;
          background-color:hsl(27, 100%, 50%);
          margin: auto 0;
      }
      </style>



</head>
<body>
    <div class="wrap">
        <div class="title">
            <% for(let i =0; i<data.length;i++){%>
                <% var quiz = data[i] %>
            <%}%>
            <% var quiz = data[0] %> 
            <%= quiz.type %>
        </div>
        <a href="/"><img src="/public/img/home.png" alt="홈으로" class="homeb"></a>
        <br><br><br><br>

        <div class="timer">
            <img src="/public/img/alarm.png" alt="타이머" class="alarm">
            <div id="myProgress">
                <div id="myBar"></div>
                
               
            </div>
        </div>
        <div id="digit"></div>


        

        <% var random = Math.floor(Math.random() * data.length) %>
        <% var quiz = data[random] %> 

        <% if(quiz.type == '국기 맞히기'){%>
            <p><img src='<%= quiz.question %>' width="600" height="400"></p>
        <%} else{ %> 
            <br><p>   
                <%= quiz.question %>
            </p>
            <br>
        <%}%>

       
       
        <div class="container">
            <div class="group">
            
                <% if(quiz.type == "ox"){%>
                    <a href="/quiz/ox/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>
        
                <% if(quiz.type == "넌센스"){%>
                    <a href="/quiz/nonsense/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>
        
                <% if(quiz.type == "네글자 이어말하기"){%>
                    <a href="/quiz/fourWord/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>
        
                <% if(quiz.type == "상식퀴즈"){%>
                    <a href="/quiz/knowledge/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>

                <% if(quiz.type == "국기 맞히기"){%>
                    <a href="/quiz/flag/<%= quiz.num %>"><button class="category">정답</button></div></a>
                <%}%>

                <% if(quiz.type == "영화"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "드라마"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "댄스곡"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "음식"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text">맞힘</button>
                        </div>
                    </form>
                <%}%>

                <% if(quiz.type == "기념일"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text">맞힘</button>
                        </div>
                    </form>
                <%}%>

                <% if(quiz.type == "취미"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "직업"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "스포츠"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "동물"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text">맞힘</button>
                        </div>
                    </form>
                <%}%>

                <% if(quiz.type == "감정"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text">맞힘</button>
                        </div>
                    </form>
                <%}%>

                        
                <% if(quiz.type == "악기"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "속담"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text">맞힘</button>
                        </div>
                    </form>
                <%}%>
        
                <% if(quiz.type == "인물"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text">맞힘</button>
                        </div>
                    </form>
                <%}%>

                <% if(quiz.type == "물건"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">틀림</button>
                            <button class="true" name="score" value="성공" class="true_text">맞힘</button>
                        </div>
                    </form>
                <%}%>

                <% if(quiz.type == "줄줄이 말해요"){%>
                    <form action="/gameScore" method="post">
                        <div class="count">
                            <button class="false" name="score" value="실패" class="false_text">실패</button>
                            <button class="true" name="score" value="성공" class="true_text">성공</button>
                        </div>
                    </form>
                <%}%>


                <% var getTime = data1[0] %>
                <script>
            
                    var i = '<%= getTime.time %>';
                    var k = 300/(i/100)
                      window.onload=function() {
                        if (i == i)
                        {
                            var digit = document.getElementById("digit");         
                            var elem = document.getElementById("myBar");
                            var width = 300;
                            var id = setInterval(frame,1000);
                            function frame() {
                                if (width <= 0) {
                                    clearInterval(id);   
                                }
                                 else {
                                    width-= k;
                                    elem.style.width = width + "px";
                                  }
                              }
                          }
                      }
                    </script>
        
            </div>
        </div>
    </div>
</body>
</html>
