<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recreation Game</title>
    <link rel="stylesheet" href="/public/css/gameEnd.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

</head>
<body>
    <div class="wrap">
        <div class="title">
            <% var quiz = data[0] %>
            <% if(quiz.type == "ox"){%>ox<%}%>
            <% if(quiz.type == "fourWord"){%>네글자 이어말하기<%}%>
            <% if(quiz.type == "knowledge"){%>상식퀴즈<%}%>
            <% if(quiz.type == "nonsense"){%>넌센스<%}%>
            <% if(quiz.type == "flag"){%>국기 맞히기<%}%>
            <% if(quiz.type == "movie"){%>영화<%}%>
            <% if(quiz.type == "drama"){%>드라마<%}%>
            <% if(quiz.type == "dance"){%>댄스곡<%}%>
            <% if(quiz.type == "food"){%>음식<%}%>
            <% if(quiz.type == "anniversary"){%>기념일<%}%>
            <% if(quiz.type == "hobby"){%>취미<%}%>
            <% if(quiz.type == "job"){%>직업<%}%>
            <% if(quiz.type == "sports"){%>스포츠<%}%>
            <% if(quiz.type == "animal"){%>동물<%}%>
            <% if(quiz.type == "emotion"){%>감정<%}%>
            <% if(quiz.type == "instrument"){%>악기<%}%>
            <% if(quiz.type == "proverb"){%>속담<%}%>
            <% if(quiz.type == "person"){%>인물<%}%>
            <% if(quiz.type == "object"){%>물건<%}%>
            <% if(quiz.type == "actionGame"){%>줄줄이 말해요<%}%>           
           
        </div>
        <a href="/"><img src="/public/img/home.png" alt="홈으로" class="homeb"></a>
       
        <br>
       
            <p>문제를 다 풀었습니다!</p>
       
        <hr class="shortline">
        <br><br>
        <div class="container">
            <div class="group">
                <% if(quiz.type == "ox"){%>
                    <a href="/quiz/ox"><div><button class="category">더 풀기</button></div></a>
                <%}%>

                <% if(quiz.type == "fourWord"){%>
                    <a href="/quiz/fourWord"><div><button class="category">더 풀기</button></div></a>

                <%}%>

                <% if(quiz.type == "nonsense"){%>
                    <a href="/quiz/nonsense"><div><button class="category">더 풀기</button></div></a>
                <%}%>
                
                <% if(quiz.type == "knowledge"){%>
                    <a href="/quiz/knowledge"><div><button class="category">더 풀기</button></div></a>
                <%}%>

                <% if(quiz.type == "flag"){%>
                    <a href="/quiz/flag"><div><button class="category">더 풀기</button></div></a>
                <%}%>

                <% if(quiz.type == "movie"){%>
                    <a href="/teamSelect/movie"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "drama"){%>
                    <a href="/teamSelect/drama"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "dance"){%>
                    <a href="/teamSelect/dance"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "food"){%>
                    <a href="/teamSelect/food"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "anniversary"){%>
                    <a href="/teamSelect/anniversary"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "hobby"){%>
                    <a href="/teamSelect/hobby"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "job"){%>
                    <a href="/teamSelect/job"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "sports"){%>
                    <a href="/teamSelect/sports"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "animal"){%>
                    <a href="/teamSelect/animal"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "emotion"){%>
                    <a href="/teamSelect/emotion"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                        
                <% if(quiz.type == "instrument"){%>
                    <a href="/teamSelect/instrument"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "proverb"){%>
                    <a href="/teamSelect/proverb"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "person"){%>
                    <a href="/teamSelect/person"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "object"){%>
                    <a href="/teamSelect/object"><div><button class="category">더 풀기</button></div></a>
                <%}%>

                <% if(quiz.type == "actionGame"){%>
                    <a href="/teamSelect/actionGame"><div><button class="category">더 풀기</button></div></a>
                <%}%>
                <div><a href="/"><button class="category">끝내기</button></div></a>
            </div>
        </div>


        <br><br><br>
          
        <% var name = rank %>
        <% if(name.name != "생성된팀이없습니다"){%>
          
          <div class="rank_title">
              <img src="/public/img/rank.png" alt="랭킹" class="rank_image">
              랭킹
          </div>
      
          <div class="container_rank">

              <div class="rank">
                  <div class="text1">순위</div>
                  <div class="text2">팀명</div>
                  <div class="text3">점수</div>
              </div>

              <% if(action != 'else'){%>
                <% var actionGame = action %>
                <% var i = 1 %>
                <div class="rank">
                  <div class="circle" style="background-color: gold;">1</div>
                  <div class="first_team">
                  <%= name[0].name %>
                  </div>
                  <div class="Score">
                    <% if(actionGame[0].type == "mind"){%> <%= name[0].mind %> <%}%>
                    <% if(actionGame[0].type == "body"){%> <%= name[0].body %> <%}%>
                    <% if(actionGame[0].type == "draw"){%> <%= name[0].draw %> <%}%>       
                  </div>
                </div>
                <hr class="line_Rank">
  
                <% while(i<name.length) { %>
                  <% if((actionGame[0].type == "mind" && name[i].mind == name[i-1].mind)||
                  (actionGame[0].type == "body" && name[i].body == name[i-1].body)||
                  (actionGame[0].type == "draw" && name[i].draw == name[i-1].draw)){ %>
                    <div class="rank">
                      <div class="circle" style="background-color: gold;">1</div>
                      <div class="first_team"><%= name[i].name %></div>
                      <div class="Score">
                        <% if(actionGame[0].type == "mind"){%> <%= name[i].mind %> <%}%>
                        <% if(actionGame[0].type == "body"){%> <%= name[i].body %> <%}%>
                        <% if(actionGame[0].type == "draw"){%> <%= name[i].draw %> <%}%>       
                      </div>
                    </div>
                    <hr class="line_Rank">
                    <%i += 1%>
                  <%}else{break;%>      
                  <%}%>
                <%}%>
                <%if(i < name.length && i < 2){%>
                  <div class="rank">
                    <div class="circle" style="background-color: silver;">2</div>
                    <div class="first_team"><%= name[i].name %></div>
                    <div class="Score">
                      <% if(actionGame[0].type == "mind"){%> <%= name[i].mind %> <%}%>
                      <% if(actionGame[0].type == "body"){%> <%= name[i].body %> <%}%>
                      <% if(actionGame[0].type == "draw"){%> <%= name[i].draw %> <%}%>       
                    </div>
                  </div>
                  <hr class="line_Rank">
                  <%i += 1%>
                  <% while(i<name.length) { %>
                    <% if((actionGame[0].type == "mind" && name[i].mind == name[i-1].mind)||
                    (actionGame[0].type == "body" && name[i].body == name[i-1].body)||
                    (actionGame[0].type == "draw" && name[i].draw == name[i-1].draw)){ %>
                      <div class="rank">
                        <div class="circle" style="background-color: silver;">2</div>
                        <div class="first_team"><%= name[i].name %></div>
                        <div class="Score">
                          <% if(actionGame[0].type == "mind"){%> <%= name[i].mind %> <%}%>
                          <% if(actionGame[0].type == "body"){%> <%= name[i].body %> <%}%>
                          <% if(actionGame[0].type == "draw"){%> <%= name[i].draw %> <%}%>       
                        </div>
                      </div>
                      <hr class="line_Rank">
                      <%i += 1%>
                    <%}else{break;%>      
                    <%}%>
                  <%}%>
                <%}%>
        
                <%if(i < name.length && i < 3){%>
                  <div class="rank">
                    <div class="circle" style="background-color: #DE844F;">3</div>
                    <div class="first_team"><%= name[i].name %></div>
                    <div class="Score">
                      <% if(actionGame[0].type == "mind"){%> <%= name[i].mind %> <%}%>
                      <% if(actionGame[0].type == "body"){%> <%= name[i].body %> <%}%>
                      <% if(actionGame[0].type == "draw"){%> <%= name[i].draw %> <%}%>      
                    </div>
                  </div>
                  <hr class="line_Rank">
                  <%i += 1%>
                  <% while(i<name.length) { %>
                    <% if((actionGame[0].type == "mind" && name[i].mind == name[i-1].mind)||
                    (actionGame[0].type == "body" && name[i].body == name[i-1].body)||
                    (actionGame[0].type == "draw" && name[i].draw == name[i-1].draw)){ %>
                      <div class="rank">
                      <div class="circle" style="background-color: #DE844F;">3</div>
                        <div class="first_team"><%= name[i].name %></div>
                        <div class="Score">
                          <% if(actionGame[0].type == "mind"){%> <%= name[i].mind %> <%}%>
                          <% if(actionGame[0].type == "body"){%> <%= name[i].body %> <%}%>
                          <% if(actionGame[0].type == "draw"){%> <%= name[i].draw %> <%}%>     
                        </div>
                      </div>
                      <hr class="line_Rank">
                      <%i += 1%>
                    <%}else{break;%>      
                    <%}%>
                  <%}%>
                <%}%>
        
                <% while(i<name.length) { %>
                  <div class="rank">
                    <div class="circle" style="background-color: #F6F6F6;"><%=i+1%></div>
                    <div class="first_team"><%= name[i].name %></div>
                    <div class="Score">
                      <% if(actionGame[0].type == "mind"){%> <%= name[i].mind %> <%}%>
                      <% if(actionGame[0].type == "body"){%> <%= name[i].body %> <%}%>
                      <% if(actionGame[0].type == "draw"){%> <%= name[i].draw %> <%}%>    
                    </div>
                  </div>
                  <hr class="line_Rank">
                  <%i += 1%>
                <%}%>


              <% } else { %> 


                <% var i = 1 %>
                <div class="rank">
                  <div class="circle" style="background-color: gold;">1</div>
                  <div class="first_team">
                  <%= name[0].name %>
                  </div>
                  <div class="Score">
                    <% if(quiz.type == "ox"){%> <%= name[0].ox %> <%}%>
                    <% if(quiz.type == "fourWord"){%> <%= name[0].fourword %> <%}%>
                    <% if(quiz.type == "nonsense"){%> <%= name[0].nonsense %> <%}%>
                    <% if(quiz.type == "knowledge"){%> <%= name[0].knowledge %> <%}%>
                    <% if(quiz.type == "flag"){%> <%= name[0].flag %> <%}%>
                    <% if(quiz.type == "actionGame"){%> <%= name[0].actiongame %> <%}%>       
                  </div>
                </div>
                <hr class="line_Rank">
  
                <% while(i<name.length) { %>
                  <% if((quiz.type == "fourWord" && name[i].fourword == name[i-1].fourword) || (quiz.type == "ox" && name[i].ox == name[i-1].ox) 
                  || (quiz.type == "nonsense" && name[i].nonsense == name[i-1].nonsense) || (quiz.type == "knowledge" && name[i].knowledge == name[i-1].knowledge) 
                  || (quiz.type == "flag" && name[i].flag == name[i-1].flag)|| (quiz.type == "actionGame" && name[i].actiongame == name[i-1].actiongame)){ %>
                    <div class="rank">
                      <div class="circle" style="background-color: gold;">1</div>
                      <div class="first_team"><%= name[i].name %></div>
                      <div class="Score">
                        <% if(quiz.type == "ox"){%> <%= name[i].ox %> <%}%>
                        <% if(quiz.type == "fourWord"){%> <%= name[i].fourword %> <%}%>
                        <% if(quiz.type == "nonsense"){%> <%= name[i].nonsense %> <%}%>
                        <% if(quiz.type == "knowledge"){%> <%= name[i].knowledge %> <%}%>
                        <% if(quiz.type == "flag"){%> <%= name[i].flag %> <%}%>
                        <% if(quiz.type == "actionGame"){%> <%= name[i].actiongame %> <%}%>    
                      </div>
                    </div>
                    <hr class="line_Rank">
                    <%i += 1%>
                  <%}else{break;%>      
                  <%}%>
                <%}%>
                <%if(i < name.length && i < 2){%>
                  <div class="rank">
                    <div class="circle" style="background-color: silver;">2</div>
                    <div class="first_team"><%= name[i].name %></div>
                    <div class="Score">
                      <% if(quiz.type == "ox"){%> <%= name[i].ox %> <%}%>
                      <% if(quiz.type == "fourWord"){%> <%= name[i].fourword %> <%}%>
                      <% if(quiz.type == "nonsense"){%> <%= name[i].nonsense %> <%}%>
                      <% if(quiz.type == "knowledge"){%> <%= name[i].knowledge %> <%}%>
                      <% if(quiz.type == "flag"){%> <%= name[i].flag %> <%}%>
                      <% if(quiz.type == "actionGame"){%> <%= name[i].actiongame %> <%}%>    
                    </div>
                  </div>
                  <hr class="line_Rank">
                  <%i += 1%>
                  <% while(i<name.length) { %>
                    <% if((quiz.type == "fourWord" && name[i].fourword == name[i-1].fourword) || (quiz.type == "ox" && name[i].ox == name[i-1].ox) 
                    || (quiz.type == "nonsense" && name[i].nonsense == name[i-1].nonsense) || (quiz.type == "knowledge" && name[i].knowledge == name[i-1].knowledge) 
                    || (quiz.type == "flag" && name[i].flag == name[i-1].flag)|| (quiz.type == "actionGame" && name[i].actiongame == name[i-1].actiongame)){ %>
                      <div class="rank">
                        <div class="circle" style="background-color: silver;">2</div>
                        <div class="first_team"><%= name[i].name %></div>
                        <div class="Score">
                          <% if(quiz.type == "ox"){%> <%= name[i].ox %> <%}%>
                          <% if(quiz.type == "fourWord"){%> <%= name[i].fourword %> <%}%>
                          <% if(quiz.type == "nonsense"){%> <%= name[i].nonsense %> <%}%>
                          <% if(quiz.type == "knowledge"){%> <%= name[i].knowledge %> <%}%>
                          <% if(quiz.type == "flag"){%> <%= name[i].flag %> <%}%>
                          <% if(quiz.type == "actionGame"){%> <%= name[i].actiongame %> <%}%>    
                        </div>
                      </div>
                      <hr class="line_Rank">
                      <%i += 1%>
                    <%}else{break;%>      
                    <%}%>
                  <%}%>
                <%}%>
        
                <%if(i < name.length && i < 3){%>
                  <div class="rank">
                    <div class="circle" style="background-color: #DE844F;">3</div>
                    <div class="first_team"><%= name[i].name %></div>
                    <div class="Score">
                      <% if(quiz.type == "ox"){%> <%= name[i].ox %> <%}%>
                      <% if(quiz.type == "fourWord"){%> <%= name[i].fourword %> <%}%>
                      <% if(quiz.type == "nonsense"){%> <%= name[i].nonsense %> <%}%>
                      <% if(quiz.type == "knowledge"){%> <%= name[i].knowledge %> <%}%>
                      <% if(quiz.type == "flag"){%> <%= name[i].flag %> <%}%>
                      <% if(quiz.type == "actionGame"){%> <%= name[i].actiongame %> <%}%>    
                    </div>
                  </div>
                  <hr class="line_Rank">
                  <%i += 1%>
                  <% while(i<name.length) { %>
                    <% if((quiz.type == "fourWord" && name[i].fourword == name[i-1].fourword) || (quiz.type == "ox" && name[i].ox == name[i-1].ox) 
                    || (quiz.type == "nonsense" && name[i].nonsense == name[i-1].nonsense) || (quiz.type == "knowledge" && name[i].knowledge == name[i-1].knowledge) 
                    || (quiz.type == "flag" && name[i].flag == name[i-1].flag)|| (quiz.type == "actionGame" && name[i].actiongame == name[i-1].actiongame)){ %>
                      <div class="rank">
                      <div class="circle" style="background-color: #DE844F;">3</div>
                        <div class="first_team"><%= name[i].name %></div>
                        <div class="Score">
                          <% if(quiz.type == "ox"){%> <%= name[i].ox %> <%}%>
                          <% if(quiz.type == "fourWord"){%> <%= name[i].fourword %> <%}%>
                          <% if(quiz.type == "nonsense"){%> <%= name[i].nonsense %> <%}%>
                          <% if(quiz.type == "knowledge"){%> <%= name[i].knowledge %> <%}%>
                          <% if(quiz.type == "flag"){%> <%= name[i].flag %> <%}%>
                          <% if(quiz.type == "actionGame"){%> <%= name[i].actiongame %> <%}%>    
                        </div>
                      </div>
                      <hr class="line_Rank">
                      <%i += 1%>
                    <%}else{break;%>      
                    <%}%>
                  <%}%>
                <%}%>
        
                <% while(i<name.length) { %>
                  <div class="rank">
                    <div class="circle" style="background-color: #F6F6F6;"><%=i+1%></div>
                    <div class="first_team"><%= name[i].name %></div>
                    <div class="Score">
                      <% if(quiz.type == "ox"){%> <%= name[i].ox %> <%}%>
                      <% if(quiz.type == "fourWord"){%> <%= name[i].fourword %> <%}%>
                      <% if(quiz.type == "nonsense"){%> <%= name[i].nonsense %> <%}%>
                      <% if(quiz.type == "knowledge"){%> <%= name[i].knowledge %> <%}%>
                      <% if(quiz.type == "flag"){%> <%= name[i].flag %> <%}%>   
                      <% if(quiz.type == "actionGame"){%> <%= name[i].actiongame %> <%}%>
                    </div>
                  </div>
                  <hr class="line_Rank">
                  <%i += 1%>
                <%}%>

              <%}%>
              
          </div>
        <% } %>

    </div>


</body>
</html>


    

