<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEAM RANKING</title>
    <link rel="stylesheet" href="/public/css/teamRank.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    
    <div class="top">
      <h1 class="top_title">팀 랭킹</h1>

      <div class="home">
        <a href="/">
          <img class="home" src="/public/img/home.png" alt="홈으로" />
        </a>
      </div>
    </div>
    

    <section>
      <hr class="line" color="black" size="5" />
    </section>

    <div class="container">

        <div class="rank">
            <div class="text1">순위</div>
            <div class="text2">팀명</div>
            <div class="text3">총점</div>
        </div>

        <% var name = data %>
        <% var i = 1 %>
        <div class="rank">
          <div class="circle" style="background-color: gold;">1</div>
          <div class="first_team"><%= name[0].name %></div>
          <div class="Score"><%= name[0].total %></div>
        </div>
        <hr class="line_Rank">
        <% while(i<name.length) { %>
          <% if(name[i].total == name[i-1].total){ %>
            <div class="rank">
              <div class="circle" style="background-color: gold;">1</div>
              <div class="first_team"><%= name[i].name %></div>
              <div class="Score"><%= name[i].total %></div>
            </div>
            <hr class="line_Rank">
            <%i += 1%>
          <%}else{break;%>      
          <%}%>
        <%}%>
        <%if(i < name.length && i < 2){%>
          <div class="rank">
            <div class="circle" style="background-color: silver;">2</div>
            <div class="first_team"><%= name[i].name %></div>
            <div class="Score"><%= name[i].total %></div>
          </div>
          <hr class="line_Rank">
          <%i += 1%>
          <% while(i<name.length) { %>
            <% if(name[i].total == name[i-1].total){ %>
              <div class="rank">
                <div class="circle" style="background-color: silver;">2</div>
                <div class="first_team"><%= name[i].name %></div>
                <div class="Score"><%= name[i].total %></div>
              </div>
              <hr class="line_Rank">
              <%i += 1%>
            <%}else{break;%>      
            <%}%>
          <%}%>
        <%}%>

        <%if(i < name.length && i < 3){%>
          <div class="rank">
            <div class="circle" style="background-color: #DE844F;">3</div>
            <div class="first_team"><%= name[i].name %></div>
            <div class="Score"><%= name[i].total %></div>
          </div>
          <hr class="line_Rank">
          <%i += 1%>
          <% while(i<name.length) { %>
            <% if(name[i].total == name[i-1].total){ %>
              <div class="rank">
                <div class="circle" style="background-color: #DE844F;">3</div>
                <div class="first_team"><%= name[i].name %></div>
                <div class="Score"><%= name[i].total %></div>
              </div>
              <hr class="line_Rank">
              <%i += 1%>
            <%}else{break;%>      
            <%}%>
          <%}%>
        <%}%>

        <% while(i<name.length) { %>
          <div class="rank">
            <div class="circle" style="background-color: #F6F6F6;"><%=i+1%></div>
            <div class="first_team"><%= name[i].name %></div>
            <div class="Score"><%= name[i].total %></div>
          </div>
          <hr class="line_Rank">
          <%i += 1%>
        <%}%>
    </div>


    <div class="team_Service">
        <a href="/">
            <img class="back" src="/public/img/team.png" alt="팀 생성 페이지로" />
        </a>
    </div>
  </body>
</html>
